<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'AppCoder/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
    


<form method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Enviar">

</form>




{% endblock main %}



</body>
</html>